
#common-navbar {
    float: right;
    list-style-type: none;
    color: white;
    height: 100%;
    padding: 13px;
}

#navbarDropdown {
    color: white;
    font-size: 16px;
}

#common-navbar div.dropdown-menu a.dropdown-item {
    color: #337ab7;
    padding-left: 5px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.card {
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.card > a {
    display: inline-block;
    height: 140px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
}

.shopping-cart-icon {
    color: white;
    vertical-align: middle;
}

.shopping-cart-icon:hover {
    color: white;
}

.nav-pipe {
    color: white;
    padding: 0 10px;
}

/* Single Product Style*/
.single-product ul > li {
    margin-right: 25px;
    font-weight: lighter;
    cursor: pointer
}

.single-product li.active {
    border-bottom: 3px solid silver;
}

.single-product .item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f6f6f6;
    padding: 23px;
}

.single-product .menu-items {
    list-style-type: none;
    font-size: 11px;
    display: inline-flex;
    margin-bottom: 0;
    margin-top: 20px
}

.single-product .btn-success {
    width: 100%;
    border-radius: 0;
}

.single-product .section {
    width: 100%;
    margin-left: -15px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background: #f8f9f9
}

.single-product .title-price {
    margin-top: 30px;
    margin-bottom: 0;
    color: black
}

.single-product .title-attr {
    margin-top: 0;
    margin-bottom: 0;
    color: #777;
}

.single-product .btn-minus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-right: 0;
}

.single-product .btn-plus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-left: 0;
}

.single-product div.section > div {
    width: 100%;
    display: inline-flex;
}

.single-product div.section > div > input {
    margin: 0;
    padding-left: 5px;
    font-size: 10px;
    padding-right: 5px;
    max-width: 18%;
    text-align: center;
}

.single-product .attr, .attr2 {
    cursor: pointer;
    margin-right: 5px;
    height: 20px;
    font-size: 10px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 2px;
}

.single-product .attr.active, .attr2.active {
    border: 1px solid orange;
}

#create-promo-codes-form .radio-margin {
    margin-right: 10px;
}

@media (max-width: 426px) {
    .single-product .container {
        margin-top: 0px !important;
    }

    .single-product .container > .row {
        padding: 0 !important;
    }

    .single-product .container > .row > .col-xs-12.col-sm-5 {
        padding-right: 0;
    }

    .single-product .container > .row > .col-xs-12.col-sm-9 > div > p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .single-product .container > .row > .col-xs-12.col-sm-9 > div > ul {
        padding-left: 10px !important;

    }

    .single-product .section {
        width: 104%;
    }

    .single-product .menu-items {
        padding-left: 0;
    }
}